#puzzle {
	width:100%;
	margin: 0;
	padding: 10px;
	border: 1px solid black;
}

.square{
	width:30px;
	height:30px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
    position: relative;
	overflow:hidden;
}

.empty{
    background-color:white;
}

.letter{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.vertical{
	 background-color: #D0D0D0;
}

#puzzle_container{
	float: left;
	height: 40%;
	overflow:hidden;
}

#vkb_container{
	width:470px;
	height:185px;
	clear:both;
}

#hints_container{
	float: left;
	width:20%;
	height: 50%;
    margin-left: 25px;
}

#buttons_container{
	float: left;
	width:20%;
    padding-top: 20px;
    margin-left: 50px;
}

.btn-warning{
	margin: 20px;
}

.btn-success{
	margin: 20px;
}

.active{
    border-color: blue;
}

td{
    position:relative;
}