#puzzle {
	width:100%;
	margin: 0;
	padding: 10px;
	border: 1px solid black;
}

.square{
	width:30px;
	height:30px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
    position: relative;
	overflow:hidden;
}

.empty{
    background-color:white;
}

.letter{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.vertical{
	 background-color: #D0D0D0;
}

#puzzle_container{
	float: left;
	height: 50%;
	overflow:hidden;
}

#hints_container{
	float: left;
	width:50%;
	height: 50%;
    margin-left: 25px;
}

#buttons_container{
    clear: both;
    padding-top: 20px;
    margin-left: 50px;
}

.active{
    border-color: blue;
}

.question_number{
    position: absolute;
    font-size: 12px;
    color: grey;
    left: 3px;
    top: 3px;
}

td{
    position:relative;
}