
.box{
	width:30px;
	height:20px;
	display:inline-block;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
    position: relative;
	overflow: hidden;
	border: none;
	border-bottom: solid;
	border-bottom-width: 1px;
}