/* Korjaa skrollauspalkin tulemisen laajennettaessa */
.navbar-collapse.in {
    overflow-y: visible;
}

/* Kursori collapse-panelien päällä */
.panel-heading {
    cursor: pointer;
}

/* Vähentää mobiililaittella syntyvää lagia (ehkä?) */
.panel-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: height 0.35s ease 1s linear;
  -moz-transition: height 0.35s ease 1s linear;
  -o-transition: height 0.35s ease 1s linear;
  -ms-transition: height 0.35s ease 1s linear;
  transition: height 0.35s ease 1s linear;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#createbuttondiv {
  height: 55px;
}

/* bodyn fontti */
body {
  font-family: "Roboto Slab";
}

.navbar-default .navbar-brand {
  font-family: "Lobster";
  font-size: 36px;
  color: #061a20;
}

.navbar-default {
  background-color: #7ccde5;
}
