html,
body {
  font-family: "Roboto Slab";
  height: 100%;
  background-image: url("../img/bodybg_russia.jpg");
  background-size: 20% auto;
  background-repeat: repeat;
}

/* Korjaa skrollauspalkin tulemisen laajennettaessa */
.navbar-collapse.in {
    overflow-y: visible;
}

/* Kursori collapse-panelien päällä */
.panel-heading {
    cursor: pointer;
}

/* Vähentää mobiililaittella syntyvää lagia (ehkä?) */
.panel-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: height 0.35s ease 1s linear;
  -moz-transition: height 0.35s ease 1s linear;
  -o-transition: height 0.35s ease 1s linear;
  -ms-transition: height 0.35s ease 1s linear;
  transition: height 0.35s ease 1s linear;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#createbuttondiv {
  height: 55px;
}

.navbar-default .navbar-brand {
  font-family: "Lobster";
  font-size: 36px;
  color: #061a20;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -92px;
  background-color: #ffffff;
}

.push {
  height: 200px;
}

#footer{
  height: 92px;
  background-color: #030d10;
  color: #eef8fc;
}

#footer .contact {
  margin: 10px;
}

#footer .shameless-self-promotion {
  margin: 10px;
  font-family: "Ubuntu";
  font-size: 12px;
}

#footer .footer-link {
  margin-right: 10px;
  color: #8cd3e8;
}
