/* Add some margin to the page and set a default font and colour */


/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}

/* Slots for final card positions */

#droppablearea {
  margin: 10px auto 0 auto;
}

/* The initial pile of unsorted cards */

#draggablearea {
  margin: 10px auto;
}

#droppablearea, #draggablearea {
  height: inherit;
  position: relative;
  background: #DDDDDD;
  padding: 10px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */
#droppablearea div, #draggablearea div {
  position: relative;
  float: left;
  font-size: 28px;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  min-height: 44px;
  min-width: 64px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0 10px 10px;
  background: #fff;
  white-space: nowrap;
}

#droppablearea div:first-child, #draggablearea div:first-child {
  margin-left: 0;
}

#droppablearea div.hovered {
  background: #aaa;
}

#droppablearea div {
  border-style: dashed;
}

 /* Cards waiting to be dragged */
#draggablearea div {
  background: #666;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

 /* Cards when dragged */
#draggablearea div.ui-draggable-dragging {
  height: inherit;
  width: inherit;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}