#text{
	width:100%;
}

.btn{
	margin: 10px 10px 10px 10px;
}

.word_pair{
	display: inline-block;
	margin-top: 2px;
}

input[type="file"] {
	max-width: 50%;
	overflow: hidden;
	display: inline-block;
}