#text{
	width:100%;
}

.btn{
	margin: 10px 10px 10px 10px;
}

.word_pair{
	display: inline-block;
	margin-top: 5px;
}

.column{
	float:left;
	width: 33%;
}

.question{
	display: inline-block;
	margin-top: 5px;
	clear: both;
}

input[type="file"] {
	max-width: 50%;
	overflow: hidden;
	display: inline-block;
}