.text{
	width:100%;
}

.form-control{
	margin-top: 5px;
}

.btn-danger{
	margin-left: 10px;
}

.word_pair{
	display: inline-block;
	margin-top: 5px;
}

.warning{
	background-color: red;
}

.column{
	float:left;
	width: 33%;
}

.question{
	display: inline-block;
	margin-top: 5px;
	clear: both;
}

.word{
	margin-top: 5px;
}

input[type="file"] {
	max-width: 50%;
	overflow: hidden;
	display: inline-block;
}